.mini_main {
width: 100%;

padding-top: 20px;
/*padding: 100px 0px;*/
margin: 0 auto;
padding-bottom: 4%;
font-weight: 300px;
font-family: 'Open Sans', Verdana;
text-align: center;
}

span.mini_main {
  position: relative;
  height: 100%;
  display: block;
  font-size: 2.4em;
  bottom: 50px;
  top: -10px;
  text-align: left;
  /*padding: 0.5px 20px 0px 20px;*/
  margin-top: -100px;
  overflow: hidden;
  /*background-color:rgba(54,44,48,0.6);*/
  color: #fcfcfc;
  /*text-shadow: 0px 1px 1px #9d9d9d;*/
  font-weight: normal;
  border-radius: 4px;
}

.mini_slider {
/*box-shadow: 0px 4px 10px #9d9d9d;*/
padding: 0;
margin: 0;
max-width: 100%;
margin: 0 auto;
overflow: hidden;
/*border-radius: 4px;*/
}

.mini_slider ul {
  width: 1000%;
  height: auto;
  position: relative;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  -moz-animation: slide-animation 15s infinite;
  -webkit-animation: slide-animation 15s infinite;
}

.mini_slider ul:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.mini_slider li {
  width: 10%;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

.mini_slider img {
  max-width: 100%;
  /*border-radius: 4px;*/
}

.mini_slider p{
  padding-top: 10px;
}

@-webkit-keyframes slide-animation {
1% {left: 0%; opacity: 1;}
18% {left: 0%; opacity: 1}
19% {opacity: 0.2;}

20% {left: -100%; opacity: 1;}
48% {left: -100%; opacity: 1;}
49% {opacity: 0.2;}

50% {left: -200%; opacity: 1;}
78% {left: -200%; opacity: 1;}
79% {opacity: 0.2;}

80% {left: -300%; opacity: 1;}
98% {left: -300%; opacity: 1;}
99% {opacity: 0.4;}

/*100% {right: 0%;}*/
}

@-moz-keyframes slide-animation {
1% {left: 0%; opacity: 1;}
18% {left: 0%; opacity: 1}
19% {opacity: 0.2;}

20% {left: -100%; opacity: 1;}
48% {left: -100%; opacity: 1;}
49% {opacity: 0.2;}

50% {left: -200%; opacity: 1;}
78% {left: -200%; opacity: 1;}
79% {opacity: 0.2;}

80% {left: -300%; opacity: 1;}
98% {left: -300%; opacity: 1;}
99% {opacity: 0.4;}

/*100% {right: 0%;}*/
}