/* line 26, ../sass/print.scss */
@media print {
  /* line 2, /chw_storage/temporary/wcs_projects/static-html/WebContent/radblu_sc/scss/print.scss */
  html, body {
    background-color: #fff; } }

/* line 8, /chw_storage/temporary/wcs_projects/static-html/WebContent/radblu_sc/scss/print.scss */
.directions-panel__states {
  height: auto; }

/* line 9, ../sass/print.scss */
/* line 13, /chw_storage/temporary/wcs_projects/static-html/WebContent/radblu_sc/scss/print.scss */
.directions-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  height: auto; }

/* line 16, ../sass/print.scss */
/* line 22, /chw_storage/temporary/wcs_projects/static-html/WebContent/radblu_sc/scss/print.scss */
#header,
#footer {
  display: none !important; }

/* line 20, ../sass/print.scss */
/* line 28, /chw_storage/temporary/wcs_projects/static-html/WebContent/radblu_sc/scss/print.scss */
#printMe {
  background-color: #fff;
  /* line 29, ../sass/print.scss */
  /* line 28, ../sass/print.scss */ }
  @media print {
    /* line 28, /chw_storage/temporary/wcs_projects/static-html/WebContent/radblu_sc/scss/print.scss */
    #printMe {
      position: absolute;
      top: 40px;
      left: 30px; } }
  @media print {
    /* line 39, /chw_storage/temporary/wcs_projects/static-html/WebContent/radblu_sc/scss/print.scss */
    #printMe * {
      visibility: visible; } }
